.dart_tool/
.packages
build/
doc/
.panatmp/
pubspec.lock
*.iml
.idea/
example/build/
example/.dart_tool/
example/pubspec.lock

# golden test failure artifacts
*_isolatedDiff.png
*_maskedDiff.png
*_masterImage.png
*_testImage.png
test/src/widgets/failures/
